.header-container {
    display: flex;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}
.header-buttons-wrapper {
    display: flex;
    align-items: center;
}
.header-button {
    display: flex;
    height: 30px;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 10px;
    margin-left: 10px;
    font-weight: 500;
}
.header-button-his {
    background: white;
    border: solid 1px #5d6481;
}
.header-button-icon {
    width: 20px;
    height: 20px;
    padding-right: 6px;
}
