/* .task-board-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
    /* height: 100%; */

/* .tb-lists-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-color: #c5c5c5 #ffffff00;
    scrollbar-width: auto;
    padding: 0 35px;
    width: 100%;
    height: 100%;
} */
